:root {
    --margin-tiny: 4%;
    --page-width: 1300px;
}

.page {
    margin-right: auto;
    margin-left: auto;
    position: relative;
    width: var(--page-width);
    background-color: white;
    height: 100vh;
}

#mtitle {
    font-family: Montserrat;
    font-weight: 500;
    letter-spacing: -2px;
    margin-top: 200px;
    margin-bottom: 40px;
    font-size: 58px;
    vertical-align: top;
}

table {
    width: 100%;
}

main.table {
    background-color: transparent;
    margin-bottom: 350px;
}

.table__body {
    width: 100%;
    max-height: 90%;
}

table,
th,
td {
    border-collapse: separate; 
}

thead th {
    position: sticky;
    top: 0;
    left: 0;
}

td img {
    width: 15px;
    height: 15px;
    margin-top: -4px;
    vertical-align: middle;
}

/* Styling. */
tr {
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    height: 230px;
    width: var(--page-width);
    background-color: #ffffff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
    outline: 1px solid gray;
    border-radius: 10px;
    margin-bottom: 20px;
}

#ftr {
    display: none;
}

/* Links. */
td a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

td a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

td a:hover {
    color: black;
    background-color: transparent;
    text-decoration: underline;
    text-underline-offset: 4px;
}

td a:active {
    color: black;
    background-color: transparent;
    text-decoration: underline;
}

tbody tr.hide {
    opacity: 0;
    transform: translateX(100%);
    border-top: 0px;
}

tbody tr {
    --delay: .1s;
    transition: .2s ease-in-out var(--delay);
}

tbody tr td,
tbody tr td p,
tbody tr td img {
    transition: .2s ease-in-out;
}

tbody tr.hide td,
tbody tr.hide td p {
    padding: 0;
    transition: .2s ease-in-out;
}

.articles-date p,
.articles-title p,
.articles-type p,
.articles-description p {
    margin-left: 20px;
    margin-right: 20px;
}

.articles-date {
    position: absolute;
    margin-top: 20px;
    width: 100%;
}

.articles-title {
    position: absolute;
    margin-top: 40px;
    width: 100%;
}

.articles-title p {
    font-size: 28px;
}

.articles-description {
    position: absolute;
    margin-top: 90px;
    width: 100%;
}

.articles-description p {
    font-size: 15px;
}

.articles-type {
    position: absolute;
    margin-top: 190px;
    width: 100%;
}

.articles {
    position: absolute;
    margin-left: 20px;
    margin-top: 150px;
    width: 100%;
}

.articles button p {
    color: white;
    font-size: 18px;
}

.articles button {
    background-color: #191919;
    border-radius: 10px;
    padding: 5px 10px;
    border: none;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}

.input-group {
    align-items: center;
    width: 100%;
    height: auto;
    background-color: transparent;
    padding: 0 0;
    display: flex;
    margin-bottom: 90px;
    display: flex;
    justify-content: center;
}

.input-group input {
    width: 100%;
    padding: 0 1.0rem 0 1.0rem;
    font-size: 18px;
    height: 50px;
    background-color: white;
    border: 1px solid rgb(184, 184, 184);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}

@media (max-height: 1000px) {
    .page {
        height: max-content;
        padding-bottom: 200px;
    }
}

@media (max-width: 1450px) {
    .page {
        width: 100%;
    }

    main.table {
        margin-left: var(--margin-tiny);
        margin-right: var(--margin-tiny);
    }

    #mtitle {
        font-size: 48px;
        margin-left: var(--margin-tiny);
    }

    tr {
        width: 100%;
    }

    .articles-description {
        display: none;
    }
}

@media (max-width: 800px) {
    .search__button {
        display: none;
    }

    #mtitle {
        font-size: 38px;
    }
}

@media (max-width: 600px) {
    #mtitle {
        font-size: 32px;
    }
}