@import url("fonts/font-faces.css");
@import url("navigation/navbar.css");
@import url("scrollbar/scrollbar.css");
@import url("footer/footer.css");

:root  {
    --blurred-background: blur(0px);
    --darken-background: white;
    --margin-left-right: 18vw;
    --nav-background-color: white;
}

::-moz-selection { /* Code for Firefox */
    color: white;
    background: black;
}
  
::selection {
    color: white;
    background: black;
}

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: TestSohne-Light;
    overflow-x: hidden;

    /* For the footer. */
    height: 100vh;
    display: flex;
    flex-direction: column;
}

::-webkit-scrollbar {
    display: none;
}

/* For the footer. */
.page {
    flex: 1 0 100vh;

    /* Unique to the home page. */
    background-color: black;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

/* Unique to the home page. */
nav {
    background-color: black;
}

.nav-icon span {
    color: white;
}

.nav-icon img {
    content: url(assets/icon-temporal-home.png);
}

.navlinks-container span {
    color: white;
}

.navlinks-container a img {
    content: url(assets/open-white.png);
}

.navlinks-container span::after {
    background-color: white;
}

.visit-website span {
    color: white;
}

.visit-website img {
    content: url(assets/external-link-white.png);
}

.visit-website button {
    background: black;
    color: white;
    border: 1px solid white;
    border-color: white;
}

.visit-website span::after {
    background-color: white;
}

.visit-website span:hover::after {
    transform: scaleX(1);
}

.visit-website button:hover {
    background: white;
    color: black;
}

.visit-website button:hover img {
    content: url('../assets/external-link.png');
}


.hamburger span {
    background: white;
}

.htitle {
    display: inline-block;
}

/* Home page specific content. */

.page h1:nth-child(1) {
    margin-top: 250px;
}

.page h1 {
    color: white;
    font-family: TestSohne-Light; 
    font-size: 70px;
    margin-top: 10px;
    vertical-align: top;

    /* For the animation. */
    letter-spacing: 10px;
    border-right: 5px solid white;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
}

.page h1:nth-child(1) {
    animation:
      typing 1.5s steps(9) forwards;
}

.page h1:nth-child(2) {
    visibility: hidden;
    animation:
      typing 1.7s steps(10) forwards;
    animation-delay: 1.7s;
}

.lastwelcome {
    visibility: hidden;
    animation:
      lasttyping 2s steps(10) forwards;
    animation-delay: 3.6s;
}

.lastwelcome.cursor {
    animation: cursor .6s step-end infinite alternate forwards;
}

@keyframes cursor {
    0% { width: 100%; visibility: visible; border-right: 5px solid white;}
    50% { border-color: transparent; }
}

@keyframes typing {
    from { width: 0; }
    0% { visibility: visible; }
    99% { border-right: 5px solid white;}
    100% { visibility: visible; border-right: none; }
}

@keyframes lasttyping {
    from { width: 0; }
    0% { visibility: visible; border-right: 5px solid white; }
    99% { border-right: 5px solid white; }
    100% { visibility: visible; }
}

.page p {
    display: inline-block;
    color: gray;
    margin-top: 30px;
    padding-right: 30vw;
    width: 100%;
    overflow: hidden;
    color: transparent;
    animation:
      animate-fade 2.0s forwards;
    animation-delay: 7.8s;
}

@keyframes animate-fade {
    0% { color: transparent; }
    100% { color: gray; }
}

@keyframes cube-fade {
    0% { background: black;}
    100% { 
        background: #b8f2ff;
        box-shadow: inset 0 0 200px 10px #0839c2,
                    inset 0 0 200px 20px #266ef6,
                    inset 0 0 190px 30px #47c9ff,
                    inset 0 0 180px 40px #82e9ff,
                    inset 0 0 0 2em #b8f2ff;
    }
}

#border1 {
    width: 100%;
    position: relative;
    top: 260px;
    margin-top: 200px;
    margin-top: -10px;
    margin-bottom: 20px;
    
    border-top: 2px solid white;
}

#border2 {
    width: 100%;
    position: relative;
    top: -400px; 
    margin-top: 35px;
    margin-bottom: 20px;
    
    border-top: 2px solid white;
}

/* Cube. */
.container {
    width: 500px;
    height: 500px;
    perspective: 1000px;
    margin: -200px 50% 0;
}

.cube {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    animation: spin 15s infinite linear;
}

.face {
    position: absolute;
    width: 500px;
    height: 500px;
}

.top {
    animation:
      cube-fade 1.0s forwards;
    animation-delay: 5.8s;
    transform: rotateX(90deg) translateZ(250px);
}

.bottom {
    animation:
      cube-fade 1.0s forwards;
    animation-delay: 5.8s;
    transform: rotateX(-90deg) translateZ(250px);
}

.right {
    animation:
      cube-fade 1.0s forwards;
    animation-delay: 5.8s;
    transform: rotateY(90deg) translateZ(250px);
}

.left {
    animation:
      cube-fade 1.0s forwards;
    animation-delay: 5.8s;
    transform: rotateY(-90deg) translateZ(250px);
}

.front {
    animation:
      cube-fade 1.0s forwards;
    animation-delay: 5.8s;
    transform: rotateX(0deg) translateZ(250px);
}

.back {
    animation:
      cube-fade 1.0s forwards;
    animation-delay: 5.8s;
    transform: rotateX(-180deg) translateZ(250px);
}

@keyframes spin {
    from {
        transform: rotateX(0deg) rotateY(0deg);
    }
    to {
        transform: rotateX(360deg) rotateY(360deg);
    }
}

@media (min-width: 1600px) {
    .htitle {
        padding-left: 20%;
    }

    .page p {
        padding-left: 20%;
    }

    .lines {
        padding: 20px 20%;
    }
}

@media (max-width: 1600px) {
    .navlinks-container {
        border-right: 1px solid gray;
    }

    .htitle {
        margin-right: 2.5vw;
        margin-left: 2.5vw;
    }

    .page p {
        margin-right: 2.5vw;
        margin-left: 2.5vw;
    }

    .lines {
        margin-left: 2vw;
        margin-right: 2vw;
        width: auto;
    }
}

@media (max-width: 2200px) {
    .container {
        width: 20vw;
        height: 20vw;
        perspective: 1000px;
        margin: -200px 60vw 0;
    }
    .face {
        position: absolute;
        width: 20vw;
        height: 20vw;
    }

    .top {
        transform: rotateX(90deg) translateZ(10vw);
    }
    
    .bottom {
        transform: rotateX(-90deg) translateZ(10vw);
    }
    
    .right {
        transform: rotateY(90deg) translateZ(10vw);
    }
    
    .left {
        transform: rotateY(-90deg) translateZ(10vw);
    }
    
    .front {
        transform: rotateX(0deg) translateZ(10vw);
    }
    
    .back {
        transform: rotateX(-180deg) translateZ(10vw);
    }
}

@media (max-width: 1000px) {
    .cube {
        opacity: 0;
    }
}
@media (max-width: 800px) {
    .page h1 {
        font-size: 8vw;
    }
}

@media (max-width: 20vh) {
    .page p {
        font-size: 3vw;
    }
}
