* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Hubot Sans';
    src:
      url('fonts/Hubot-Sans.woff2') format('woff2 supports variations'),
      url('fonts/Hubot-Sans.woff2') format('woff2-variations');
    font-weight: 200 900;
    font-stretch: 75% 125%;
}

html {
    font-family: 'Hubot Sans';
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

body {
    background: #0d1116;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
}
  
body::-webkit-scrollbar-track {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 2rem;
    border: 2px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0, 0.37);
}
  
body::-webkit-scrollbar-thumb {
    background-color: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid rgb(140, 140, 140);  /* creates padding around scroll thumb */
  }

section  {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 10px;
    background: white;
    color: 0d1116;
}

section h1 {
    position: relative;
    font-size: 100px;
    color: white;
    /*text-shadow: 1px 1px 3px black;*/
    -webkit-text-stroke: 0vw #383d52;
    text-transform: uppercase;
}

section h1::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    color: #0d1116;
    -webkit-text-stroke: 0vw white;
    border-right: 2px solid #0d1116;
    overflow: hidden;
    animation: type 3.5s linear infinite;
}

@keyframes type {
    0%,10%,100% {
        width: 0.
    }
    70%,90% {
        width: 100%;
    }
}

section p {
    color:rgb(160, 160, 160);
    opacity: 0;
    animation: appear 1s ease-out forwards;
}

.intro {
    padding: 230px;
}

a:link {
    color:#216bd8;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: #2721d8;
    background-color: transparent;
    text-decoration: none;
}

a:active {
    color: #216bd8;
    background-color: transparent;
}

a.page {
    align-items: center;
    text-align: center;
    font-size: 40px;
    text-decoration: none;
    background-color: #0d1116;
    padding: 20px 40px;
    border-radius: 25px 25px 0 0;
    color: white;
    font-weight: normal;
}

@keyframes appear {
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
}

@media screen and (max-width:900px) {
    .intro.mobile-intro {
        -webkit-filter: blur(7px);
        -moz-filter: blur(15px);
        -o-filter: blur(15px);
        -ms-filter: blur(15px);
        filter: blur(15px);
    }

    .curve.mobile-curve {
        -webkit-filter: blur(7px);
        -moz-filter: blur(15px);
        -o-filter: blur(15px);
        -ms-filter: blur(15px);
        filter: blur(15px);
    }

    .coloredone {
        margin-top: 4px;
    }
}