@import url("fonts/font-faces.css");
@import url("navigation/navbar.css");
@import url("scrollbar/scrollbar.css");
@import url("footer/footer.css");

/* Pages. */
@import url("research/page.css");

:root  {
    --blurred-background: blur(0px);
    --darken-background: white;
    --margin-left-right: 18vw;
}

::-moz-selection { /* Code for Firefox. */
    color: white;
    background: black;
}
  
::selection {
    color: white;
    background: black;
}

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: TestSohne-Light;
    overflow-x: hidden;

    /* For the footer. */
    height: 100vh;
    display: flex;
    flex-direction: column;
}

::-webkit-scrollbar {
    display: none;
}

/* For the footer. */
.page {
    flex: 1 0 auto;
}