footer {
    flex-shrink: 0;
    /*border-top: 1px dashed #000;*/
    width: 100%;
    color: white;
    z-index: -1;
    background-color: white;
}

.foot {
    background: black;
}

h3 {
    font-family: TestSohne;
}

.footer-content {
    width: 1360px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 16px;
    padding: 50px 0 100px;
}

.block {
    width: 100%;
    margin: 0 10px;
}

.footer-contact h3, 
.footer-services h3,
.footer-medias h3 {
    font-size: 18px;
    padding-bottom: 20px;
}

.footer-contact p {
    padding: 5px 0;
}

#lastp {
    padding-bottom: 30px;
}

.services-list,
.services-medias {
    list-style-type: none;
}

.services-list li {
    padding: 2px 0;
}

.services-medias {
    position: relative;
    right: 10px;
}

.services-list a {
    text-decoration: none;
    color: white;
}

.block:nth-child(1) {
    font-size: 22px;
}

.block:nth-child(1) img {
    width: 40px;
    vertical-align: middle;
    margin: 10px 10px;
}


.services-medias img {
    width: 20px;
    margin: 10px 10px;
}

.services-medias a {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
}

.bar1 {
    width: 100%;
    height: 20px;
    margin-top: 1px;
    background-color: black;
}

.bar2 {
    width: 100%;
    height: 19px;
    margin-top: 2px;
    background-color: black;
}

.bar3 {
    width: 100%;
    height: 18px;
    margin-top: 3px;
    background-color: black;
}

.bar4 {
    width: 100%;
    height: 17px;
    margin-top: 4px;
    background-color: black;
}

.bar5 {
    width: 100%;
    height: 16px;
    margin-top: 5px;
    background-color: black;
}

.bar6 {
    width: 100%;
    height: 15px;
    margin-top: 6px;
    background-color: black;
}

.bar7 {
    width: 100%;
    height: 14px;
    margin-top: 7px;
    background-color: black;
}

.bar8 {
    width: 100%;
    height: 13px;
    margin-top: 8px;
    background-color: black;
}

.bar9 {
    width: 100%;
    height: 12px;
    margin-top: 9px;
    background-color: black;
}

.bar10 {
    width: 100%;
    height: 11px;
    margin-top: 10px;
    background-color: black;
}

.bar11 {
    width: 100%;
    height: 10px;
    margin-top: 11px;
    background-color: black;
}

.bar12 {
    width: 100%;
    height: 9px;
    margin-top: 12px;
    background-color: black;
}

.bar13 {
    width: 100%;
    height: 8px;
    margin-top: 13px;
    background-color: black;
}

.bar14 {
    width: 100%;
    height: 7px;
    margin-top: 14px;
    background-color: black;
}

.bar15 {
    width: 100%;
    height: 6px;
    margin-top: 15px;
    background-color: black;
}

.bar16 {
    width: 100%;
    height: 5px;
    margin-top: 16px;
    background-color: black;
}

.bar17 {
    width: 100%;
    height: 4px;
    margin-top: 17px;
    background-color: black;
}

.bar18 {
    width: 100%;
    height: 3px;
    margin-top: 18px;
    background-color: black;
}

.bar19 {
    width: 100%;
    height: 2px;
    margin-top: 19px;
    background-color: black;
}

.bar20 {
    width: 100%;
    height: 1px;
    margin-top: 20px;
    background-color: black;
}


@media screen and (max-width: 1300px) {
    .footer-content {
        width: 700px;
        flex-wrap: wrap;
    }

    .block {
        width: 40%;
        margin: 0 0;
    }

    .block:nth-child(1),
    .block:nth-child(2) {
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 800px) {
    .footer-content {
        width: 320px;
    }

    .block {
        width: 300px;
        margin: 30px 30px;
    }

    .block:nth-child(1),
    .block:nth-child(2) {
        margin-bottom: 30px;
    }

    .block:nth-child(1) {
        margin-top: 0;
    }
}