footer {
    flex-shrink: 0;
    /*border-top: 1px dashed #000;*/
    width: 100%;
    color: white;
    z-index: -1;
    background-color: white;
}

.foot {
    background: black;
}

h3 {
    font-family: TestSohne;
}

.footer-content {
    width: 1360px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 16px;
    padding: 50px 0 50px;
}

.block {
    width: 100%;
    margin: 0 10px;
}

.footer-contact h3, 
.footer-services h3,
.footer-medias h3 {
    font-size: 18px;
    padding-bottom: 20px;
}

.footer-contact p {
    padding: 5px 0;
}

.services-list,
.services-medias {
    list-style-type: none;
}

.services-list li {
    padding: 2px 0;
}

.services-medias {
    position: relative;
    right: 10px;
}

.services-list a {
    text-decoration: none;
    color: white;
}

.block:nth-child(1) {
    font-size: 22px;
}

.block:nth-child(1) img {
    width: 40px;
    vertical-align: middle;
    margin-right: 10px;
}


.services-medias img {
    width: 20px;
    margin: 10px 10px;
}

.services-medias a {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 1500px) {
    .footer-content {
        width: 700px;
        flex-wrap: wrap;
    }

    .block {
        width: 40%;
        margin: 0 0;
    }

    .block:nth-child(1),
    .block:nth-child(2) {
        margin-bottom: 50px;
    }

    #lastp {
        padding-bottom: 30px;
    }
}

@media screen and (max-width: 800px) {
    .footer-content {
        width: 320px;
    }

    .block {
        width: 300px;
        margin: 30px 30px;
    }

    .block:nth-child(1),
    .block:nth-child(2) {
        margin-bottom: 30px;
    }

    .block:nth-child(1) {
        margin-top: 0;
    }

    #lastp {
        padding-bottom: 0px;
    }
}