@import url("font-faces.css");
@import url("navbar.css");
@import url("scrollbar.css");
@import url("footer.css");

::-webkit-scrollbar {
    display: none;
}

::-moz-selection { /* Code for Firefox */
    color: white;
    background: black;
}
  
::selection {
    color: white;
    background: black;
}

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: TestSohne-Light;
    overflow-x: hidden;

    /* For the footer. */
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: black;
}

.stop-scrolling {
    height: 100%;
    overflow: hidden;
}

/* For the footer. */
.page {
    flex: 1 0 100vh;

    /* Unique to the home page. */
    background-color: black;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

/* Unique to the home page. */
nav {
    background-color: transparent;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

.nav-icon span {
    color: white;
}

.navlinks-container span {
    color: white;
}

.navlinks-container span::after {
    background-color: white;
}

.visit-website span {
    color: white;
}


.visit-website button {
    background: transparent;
    color: white;
    border: 1px solid white;
    border-color: white;
}

.visit-website span::after {
    background-color: white;
}

.visit-website span:hover::after {
    transform: scaleX(1);
}

.visit-website button:hover {
    background: white;
    color: black;
}

.visit-website button:hover img {
    content: url('../assets/external-link.png');
}

.hamburger span {
    background: white;
}

@media (max-width: 1500px) {
    .navlinks-container {
        border-right: 1px solid gray;
    }
}

@media (max-width: 800px) {}

@media (max-width: 600px) {}