@import url("font-faces.css");
@import url("navbar.css");
@import url("scrollbar.css");
@import url("footer.css");

:root  {
    --blurred-background: blur(0px);
    --darken-background: white;
}

::-moz-selection { /* Code for Firefox */
    color: white;
    background: black;
}
  
::selection {
    color: white;
    background: black;
}

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: TestSohne-Light;
    overflow-x: hidden;

    /* For the footer. */
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: black;
}

/* For the footer. */
.page {
    flex: 1 0 100vh;

    /* Unique to the home page. */
    background-color: black;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

/* Unique to the home page. */
nav {
    background-color: transparent;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-shadow: 1px 5px 10px black;
}

.nav-icon span {
    color: white;
}

.navlinks-container span {
    color: white;
}

.navlinks-container span::after {
    background-color: white;
}

.visit-website span {
    color: white;
}


.visit-website button {
    background: transparent;
    color: white;
    border: 1px solid white;
    border-color: white;
}

.visit-website span::after {
    background-color: white;
}

.visit-website span:hover::after {
    transform: scaleX(1);
}

.visit-website button:hover {
    background: white;
    color: black;
}

.visit-website button:hover img {
    content: url('../assets/external-link.png');
}


.hamburger span {
    background: white;
}

.htitle {
    display: inline-block;
}

/* Home page specific content. */

.page h1:nth-child(1) {
    margin-top: 250px;
}

.page h1 {
    color: white;
    font-family: TestSohne-Light; 
    font-size: 70px;
    margin-top: 10px;
    vertical-align: top;

    /* For the animation. */
    letter-spacing: 10px;
    border-right: 5px solid white;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
}

.page h1:nth-child(1) {
    animation:
      typing 1.5s steps(9) forwards;
}

.page h1:nth-child(2) {
    visibility: hidden;
    animation:
      typing 1.7s steps(10) forwards;
    animation-delay: 1.7s;
}

.lastwelcome {
    visibility: hidden;
    animation:
      lasttyping 2s steps(10) forwards;
    animation-delay: 3.6s;
}

.lastwelcome.cursor {
    animation: cursor 1s step-end infinite forwards;
}

@keyframes cursor {
    0% { width: 100%; visibility: visible; border-right: 5px solid white;}
    50% { border-color: transparent; }
}

@keyframes typing {
    from { width: 0; }
    0% { visibility: visible; }
    99% { border-right: 5px solid white;}
    100% { visibility: visible; border-right: none; }
}

@keyframes lasttyping {
    from { width: 0; }
    0% { visibility: visible; border-right: 5px solid white; }
    99% { border-right: 5px solid white; }
    100% { visibility: visible; }
}

.page p {
    display: inline-block;
    color: gray;
    margin-top: 30px;
    width: 90%;
    overflow: hidden;
    color: transparent;
    animation:
      animate-fade 2.0s forwards;
    animation-delay: 7.8s;
}

@keyframes animate-fade {
    0% { color: transparent; }
    100% { color: gray; }
}

#border1 {
    width: 100%;
    position: relative;
    top: 260px;
    margin-top: 200px;
    margin-top: -10px;
    margin-bottom: 20px;
    
    border-top: 2px solid white;
}

#border2 {
    width: 100%;
    position: relative;
    top: -400px; 
    margin-top: 35px;
    margin-bottom: 20px;
    
    border-top: 2px solid white;
}

/* The atom.*/
.container {
    margin: -300px 45% 0;
}

.atom {
    position: relative;
    display: flex;
    height: 35vw;
    width: 35vw;
    align-items: center;
    justify-content: center;
}

.atom::before {
    content: "";
    position: absolute;
    width: 5vw;
    height: 5vw;
    background: transparent; 
    box-shadow: inset 0 0 10px #ffffff;
    border-radius: 50%;
}

.line {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.7;
    border-top: 10px solid var(--color);
    border-bottom: 10px solid var(--color);
}

.line-0 {
    --color: white;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    filter: drop-shadow(0 0 10px var(--color));
    animation: line0 1s linear infinite;
}

@keyframes line0 {
    0% {
        transform: rotateX(100deg) rotateY(0deg) rotateZ(0deg);
    }
    100% {
        transform: rotateX(100deg) rotateY(-360deg) rotateZ(360deg);
    }
}


.line-1 {
    --color: white;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    filter: drop-shadow(0 0 10px var(--color));
    animation: line1 1s linear infinite;
}

@keyframes line1 {
    0% {
        transform: rotateX(0deg) rotateY(430deg) rotateZ(0deg);
    }
    100% {
        transform: rotateX(0deg) rotateY(70deg) rotateZ(360deg);
    }
}

.line-2 {
    --color: white;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    filter: drop-shadow(0 0 10px var(--color));
    animation: line2 1s linear infinite;
}

@keyframes line2 {
    0% {
        transform: rotateX(80deg) rotateY(25deg) rotateZ(0deg);
    }
    100% {
        transform: rotateX(-280deg) rotateY(25deg) rotateZ(360deg);
    }
}

.line-3 {
    --color: white;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    filter: drop-shadow(0 0 10px var(--color));
    animation: line3 1s linear infinite;
}

@keyframes line3 {
    0% {
        transform: rotateX(-80deg) rotateY(25deg) rotateZ(0deg);
    }
    100% {
        transform: rotateX(280deg) rotateY(25deg) rotateZ(360deg);
    }
}

@media (min-width: 1600px) {
    .htitle {
        padding-left: 20%;
    }

    .page p {
        padding-left: 20%;
    }
}

@media (max-width: 2200px) {
    .face {
        position: absolute;
        width: 20vw;
        height: 20vw;
    }

    .top {
        transform: rotateX(90deg) translateZ(10vw);
    }
    
    .bottom {
        transform: rotateX(-90deg) translateZ(10vw);
    }
    
    .right {
        transform: rotateY(90deg) translateZ(10vw);
    }
    
    .left {
        transform: rotateY(-90deg) translateZ(10vw);
    }
    
    .front {
        transform: rotateX(0deg) translateZ(10vw);
    }
    
    .back {
        transform: rotateX(-180deg) translateZ(10vw);
    }
}

@media (max-width: 1600px) {
    .navlinks-container {
        border-right: 1px solid gray;
    }

    .htitle {
        margin-right: 2.5vw;
        margin-left: 2.5vw;
    }

    .page p {
        margin-right: 2.5vw;
        margin-left: 2.5vw;
    }

    .container {
        margin: -370px 62% 0;
    }
}


@media (max-width: 1000px) {
    .container {
        display: none;
    }
}
@media (max-width: 800px) {
    .page h1 {
        font-size: 8vw;
    }
}

@media (max-width: 20vh) {
    .page p {
        font-size: 3vw;
    }
}
