@import url("font-faces.css");
@import url("navbar.css");
/*@import url("scrollbar.css");*/ /* Currently hiding the scrollbar.*/ 
@import url("page.css");

/* == This code hides the scroll bar. == */
html {
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #191919;
}
/* ===================================== */

::-moz-selection { /* Code for Firefox. */
    color: white;
    background: black;
}
  
::selection {
    color: white;
    background: black;
}

img::-moz-selection { /* Code for Firefox. */
    background: transparent;
}
  
img::selection {
    background: transparent;
}

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Montserrat;
    letter-spacing: -1px;
    font-weight: 450;

    overflow-x: hidden;
    background-color: white;

    /* For the footer. */
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* For the footer. */
.page {
    flex: 1 0 auto;
}