*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --margin-tiny: 4%;
    --page-width: 1300px;
}

nav {
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    left: 50%;
    transform: translate(-50%, 0);
    width: var(--page-width);
    background-color: transparent;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    z-index: 4;
}


.navlinks-container img {
    width: 20px;
}

.nav-icon {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.nav-icon span {
    font-family: TestSohne;
    font-size: 22px;
    margin-left: 10px;
    margin-right: 50px;
    color: black;
}

.nav-icon img {
    width: 40px;
}

.nav-external-link {
    margin-left: auto;
}

.visit-website button {
    font-family: TestSohne-Light;
    font-size: 18px;
    min-width: 90px;
    padding: 5px 5px;
    border-radius: 3px;
    cursor: pointer;
    border: none;
    background: transparent;
    color: black;
    border: 2px solid black;
    border-color: black;
}

.visit-website span {
    margin: 0 2px;
    font-size: 18px;
    text-decoration: none;
    color: black;
    display: inline-block;
    position: relative;
}

.visit-website a:nth-child(1) {
    margin: 0 20px;
}

.visit-website span::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -1px;
    width: 100%;
    height: 2px;
    transform: scaleX(0);
    background-color: black;
    transition: transform 0.1s linear;
}

.visit-website span:hover::after {
    transform: scaleX(0.8);
}

.visit-website button:hover {
    background: black;
    color: white;
}

.visit-website img {
    width: 15px;
    margin-left: 2px;
}

.visit-website button:hover img {
    width: 15px;
    content: url('../assets/external-link-white.png');
}

.external {
    display: none;
}

.hamburger {
    display: none;
}

@media (min-width: 1300px) {
    .navlinks-container span {
        margin: 0 2px;
        font-size: 18px;
        text-decoration: none;
        color: black;
        display: inline-block;
        position: relative;
    }
    
    .navlinks-container a {
        margin: 0 10px;
    }
    
    .navlinks-container span::after {
        content: "";
        display: block;
        position: absolute;
        bottom: -1px;
        width: 100%;
        height: 2px;
        transform: scaleX(0);
        background-color: black;
        transition: transform 0.1s linear;
    }
    
    .navlinks-container span:hover::after {
        transform: scaleX(0.8);
    }
}

/* Depending on the media. Don't forget to modifiy script.js when 'max-width' is modified.*/
@media (max-width: 1300px) {
    .navlinks-container a {
        margin: 0 10px;
        font-size: 18px;
        font-weight: 500;
        text-decoration: none;
        color: black;
        display: inline-block;
        position: relative;
    }
    
    .nav-external-link {
        margin-left: auto;
    }

    nav {
        padding: 15px 20px;
        position: fixed;
        width: 100%;

        /* Fixing the nav margin. */ 
        margin-left: auto;
        margin-right: auto;
    }

    /* Removing the images. */
    .navlinks-container img {
        display: none;
    }
    

    .nav-icon {
        order: 2;
        margin: 0 auto;
        margin-left: 0;
    }

    .nav-icon span {
        font-size: 22px;
    }

    /* Hamburger. */
    .hamburger {
        width: 20px;
        height: 20px;
        cursor: pointer;
        border: none;
        display: flex;
        background: transparent;
        align-items: center;
        position: absolute;
        right: 20px;
        top: 25px;
        z-index: 3; 
    }

    .hamburger.open {
        right: 45px;
    }

    .hamburger span {
        display: block;
        width: 100%;
        height: 2px;
        background: black;
        position: absolute;
        pointer-events: none;
        border-radius: 50px;
        transition: opacity 0.3s 0.15s ease-out;
    }

    .hamburger span:nth-child(1),
    .hamburger span:nth-child(2) {
        transition: transform 0.3s ease-out;
    }

    .hamburger span:nth-child(1) {
        transform: translateY(5px);
    }

    .hamburger span:nth-child(2) {
        transform: translateY(-5px);
    }

    .hamburger.open span:nth-child(1) {
        transform: translate(0) rotate(135deg);
        background: white;
    }

    .hamburger.open span:nth-child(2) {
        transform: translate(0) rotate(-135deg);
        background: white;
    }

    .navlinks-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        background: black;
        width: 100%;
        top: 0;
        left: 0;
        height: 100vh;
        padding: 15px 50px 15px 200px;
        border-left: 1px solid rgb(10, 10, 10);
        transform: translate(100%);
        height: calc(200vh - 100%);
        z-index: 2;
    }

    .navlinks-container a::after {
        display: none;
    }

    .open {
        transform: translate(70%);
    }

    .navlinks-container a {
        top: 50px;
        font-size: 18px;
        margin: 2px;
        color: white;
        border-bottom: 1px solid white;
        padding-bottom: 10px;
        width: calc(30% + 35px);
        margin-left: -180px;
    }

    /* First item ("Home"). */
    .navlinks-container a:nth-child(1) {
        border-top: 1px solid white;
        padding-top: 5px;
    }

    .main-navlinks {
        order: 1;
    }

    .nav-external-link {
        order: 3;
        margin-left: 0;

        /* Temporal. */
        display: none;
    }

    .visit-website {
        display: none;
    }

    .external {
        display: block;
        cursor: pointer;
        border: none;
    }

    .external img {
        width: 40px;
    }
}

@media (max-width: 500px) {
    .nav-icon img {
        width: 30px;
    }

    .nav-icon span {
        font-size: 20px;
    }

    .hamburger {
        top: 20px;
    }

    .navlinks-container { 
        width: 100%;
    }

    .open {
        transform: translate(0%);
    }

    .hamburger.open {
        right: 20px;
    }

    .navlinks-container a {
        width: 90vw;
    }
}