:root {
    --margin: 20%;
    --margin-thin: 5%;
    --margin-tiny: 2%;
}

#ptitle {
    display: inline-block;
    font-family: TestSignifier-Thin;
    font-size: 60px;
    vertical-align: top;
}

#ptype {
    font-size: 15px;
}

.intro {
    display: inline-block;
    margin-top: 200px;
    vertical-align: top;
    padding-left: calc(var(--margin) + 5vw + 180px);
    padding-bottom: 100px;
}

.breakline {
    margin-left: var(--margin);
    border-top: 2px solid black;
    width: 60%;
}

.info-container span {
    font-size: 20px;
    text-decoration: none;
    color: black;
    display: inline-block;
    position: relative;
}

.info-container img {
    width: 15px;
    height: 15px;
    margin-top: -4px;
    vertical-align: middle;
}

.info-container a span::after {
    content: "";
    display: block;
    bottom: -1px;
    width: 100%;
    height: 1px;
    transform: scaleX(0);
    transform-origin: left;
    background-color: black;
}

.info-container a span:hover::after {
    transform: scaleX(1);
}

.info-container {
    margin-top: 10px;
    margin-bottom: 10px;
}

#readpaper {
    position: absolute;
    left: 0px;
    margin-left: calc(var(--margin) + 5vw + 180px);
}

#date {
    padding-left: var(--margin);
}

.pub-info {
    margin-top: 80px;
    margin-left: calc(var(--margin) + 5vw + 180px);
}

.pub-info h1 {
    font-size: 30px;
    font-family: TestSohne;
    margin-bottom: 15px;
}

.pub-info p {
    font-family: TestSignifier-ExtraLight;
    font-size: 20px;
    width: calc(80% - 5vw - 180px);
    margin-bottom: 50vh;
}

@media (max-width: 1900px) {
    .intro {
        padding-left: calc(var(--margin-thin) + 3vw + 180px);
    }
    
    .breakline {
        margin-left: var(--margin-thin);
        border-top: 1px solid black;
        width: calc(100% - 2*(var(--margin-thin)));
    }
    
    #readpaper {
        margin-left: calc(var(--margin-thin) + 3vw + 180px);
    }
    
    #date {
        padding-left: var(--margin-thin);
    }
    
    .pub-info {
        margin-left: calc(var(--margin-thin) + 3vw + 180px);
    }
}

@media (max-width: 1500px) {
    .intro {
        padding-left: var(--margin-tiny);
    }

    .breakline {
        margin-left: var(--margin-tiny);
        width: calc(100% - 2*(var(--margin-tiny)));
    }
    
    #readpaper {
        margin-left: calc(var(--margin-tiny) + 3vw + 180px);
    }
    
    #date {
        padding-left: var(--margin-tiny);
    }
    
    .pub-info {
        margin-left: calc(var(--margin-tiny));
    }

    .pub-info p {
        width: calc(100% - 10*(var(--margin-tiny)));
    }
}

@media (max-width: 1000px) {
    .pub-info p {
        width: calc(100% - 2*(var(--margin-tiny)));
    }

    #ptitle {
        font-size: 50px;
    }

    .info-container span {
        font-size: 18px;
    }
}