@import url("font-faces.css");
@import url("navbar.css");
@import url("scrollbar.css");
@import url("footer.css");

/* Pages. */
@import url("page.css");

::-webkit-scrollbar {
    display: none;
}

::-moz-selection { /* Code for Firefox. */
    color: white;
    background: black;
}
  
::selection {
    color: white;
    background: black;
}

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: TestSohne-Light;
    overflow-x: hidden;

    /* For the footer. */
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.stop-scrolling {
    height: 100%;
    overflow: hidden;
}

/* For the footer. */
.page {
    flex: 1 0 auto;
}