#mtitle {
    display: inline-block;
    margin-left: calc(var(--margin-left-right)*1.05);
    font-family: TestSohne-Light;
    margin-top: 250px;
    font-size: 70px;
    vertical-align: top;
}

main.table {
    margin-left: calc(var(--margin-left-right)*1.05);
    height: 90vh;
    background-color: transparent;
    margin-top: 200px;
}

table {
    width: 61vw;
}

.table__body {
    width: 100%;
    max-height: 89%;
}

table, th, td {
    border-collapse: collapse;
    padding: 0.7rem;
}

thead th {
    position: sticky;
    top: 0;
    left: 0;
}

td img {
    width: 15px;
    height: 15px;
    margin-right: .5rem;
    margin-top: -4px;
    border-radius: 50%;

    vertical-align: middle;
}
/* Styling. */
tbody tr {
    border-top: 1px solid black;
}

.articles:nth-last-child(-n + 1) {
    text-align: right;
}

.articles:nth-child(1) {
    text-align: left;
}

/* Links. */
td a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
}
  
td a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
}
  
td a:hover {
    color: black;
    background-color: transparent;
    text-decoration: underline;
    text-underline-offset: 4px;
}
  
td a:active {
    color: black;
    background-color: transparent;
    text-decoration: underline;
}

/*--------Optional-----------*/
/*.articles:nth-child(2) {
    font-family: TestSignifier;
}*/
/*---------------------------*/

@media (max-width: 1600px) {
    #mtitle {
        margin-left: 7vw;
        margin-right: 2vw;
    }
    
    main.table {
        margin-left: 7vw;
        margin-right: 2vw;
    }

    table {
        width: 96%;
    }
}

@media (max-width: 1000px) {
    td:nth-child(1) {
        display: none;
    }

    #mtitle {
        margin-top: 200px;
    }

    /*td:nth-child(3) {
        display: none;
    }*/
}

@media (max-width: 800px) {
    #mtitle {
        font-size: 9vw;
        margin-top: 180px;
    }

    td:nth-child(3) {
        display: none;
    }
}

@media (max-width: 600px) {

    .articles p {
        font-size: 2.8vw;
    }

    main.table {
        margin-left: 3.5vw;
        margin-right: -2vw;
    }
}